@use "./__global.scss";
@use "./__BS_overrides.scss";
@use "./shared/modal";
.site_app {
  @import "./shared/header";
  @import "Views/grid";
  @import "Views/detail";

  display: grid;
  grid-template-areas:
    "top_left_bloc header_wrapper"
    "side_wrapper content_wrapper";
  grid-template-columns: 160px auto;

  .top_left_bloc {
    grid-area: top_left_bloc;
  }

  .side_wrapper {
    grid-area: side_wrapper;
    background-color: #900c3f;
  }

  .content_wrapper {
    grid-area: content_wrapper;
  }
}

.form_content_wrap {
  padding: 30px;
}
