.my_app {
  @import "./shared/header";
  @import "./shared/modal";
  @import "Views/grid";
  @import "Views/detail";
  @import "./__global.scss";
  @import "./__BS_overrides.scss";

  display: grid;
  grid-template-areas:
    ". header_wrapper"
    "side_wrapper content_wrapper";
  grid-template-columns: 160px auto;

  .side_wrapper {
    grid-area: side_wrapper;
    background-color: #900c3f;
  }

  .content_wrapper {
    grid-area: content_wrapper;
  }
}
